@use "../abstract/" as *;
@use "../base/" as *;
@use "../component/" as *;
@use "../vendor/" as *;
@use "../layout/" as *;

.testimonial {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 18rem;
    background-image: url(/images/section-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    background-position: center;
    @include mediaQuery2 {
      padding: 10rem 3rem 18rem 3rem;
    }
    @include mediaQuery {
      padding: 10rem 2rem 30rem 2rem;
    }
    &__wrapper {
      @include grid(2);
      @include mediaQuery2 {
        @include grid(1);
      }
      @include mediaQuery {
        @include grid(1);
      }
    }
    &__paragraph {
      margin-top: 7rem;
      @include mediaQuery2 {
        margin-top: 2rem;
      }
      @include mediaQuery {
        margin-top: 2rem;
      }
    }
    p {
      color: $clr-gray;
      font-size: 2rem;
    }
    h4 {
      color: $clr-gray;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }
    h2 {
      font-size: 5rem;
    }
    span {
      background: $clr-accent;
      width: 3rem;
      height: 2px;
      display: block;
      margin-bottom: 1rem;
    }
  }

  .stats {
    position: relative;
    padding: 30rem 0 10rem 0;
    background-image: url(/images/section-bg-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45rem;
    background-position: center;
    @include mediaQuery {
      padding: 40rem 0 10rem 0;
    }
    &__wrapper {
      @include flex(space-between, center);
      @include mediaQuery2 {
        @include grid(2);
      }
      @include mediaQuery {
        @include grid(1);
      }
    }
    &__box:last-child {
      border-right: none;
      padding-right: 0;
    }
    &__box {
      border-right: 1px solid $clr-light;
      margin-top: 7rem;
      @include mediaQuery {
        border-right: none;
      }
  
      h3 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
      }
      h4 {
        text-align: center;
        font-size: 2rem;
      }
    }
    &__box:first-child {
      padding-left: 0;
    }
    &__content-1 {
      padding-right: 9rem;
      padding-left: 0;
      @include mediaQuery {
        padding-left: unset;
        padding-right: unset;
      }
    }
    &__content-2 {
      padding-right: 9rem;
      @include mediaQuery2 {
        padding-right: unset;
      }
      @include mediaQuery {
        padding-right: unset;
      }
    }
    &__content-3 {
      padding-right: 9rem;
      @include mediaQuery {
        padding-right: unset;
      }
    }
    &__content-4 {
      padding-right: 0;
    }
    &__icon {
      text-align: center;
      i {
        color: $clr-light;
        font-size: 5rem;
        background-color: $clr-dark;
        padding: 2rem 2.5rem;
      }
    }
  }.experiences{
    background-color: $clr-primary;
    font-family: "Barlow-Reg";

    &__nav ul li:first-child{
        background-color: $clr-headersec;
    }
    &__nav ul li:nth-child(2){
        background-color: $clr-blackmagic;
    }
    &__nav ul li:last-child{
        background-color: $clr-headersec;
    }
    &__nav ul{
        display: flex; 
        justify-content: center;
        li{
            font-size: 2rem;
            width: 100%;
            padding: 2.5rem 0;
            text-align: center;
        }
    }
    &__nav ul li.active{
        background-color: $clr-primary;
        a{
            color: $clr-headersec;
        }
    }
    &__tab{
        position: relative;
    }

    &__item{
        position: absolute;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: space-between;
        padding: 5rem 0;
        opacity: 0;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: $clr-headertext;
        }
        p{
            color: $clr-headertext;
            text-align: justify;
        }
        i{
            background-color: rgba($color: #818181, $alpha: 0.2);
            padding: 1rem;
            color: $clr-accent;
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    &__item.active{
        opacity: 100;
        transition: all;
        transition-duration: 1s;
    }
    .text-title{
        color: $clr-accent;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

}