@use "../abstract/" as *;
@use "../base/" as *;
@use "../component/" as *;
@use "../vendor/" as *;
@use "../layout/" as *;

// VIDEO PARRALAX PIO
.video
{
    @include grid(1);
    /* Container styling for the YouTube video */
    #youtube-video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Blackish background */
        display: none;
        z-index: 9999; /* Ensure the video stays on top */
    }

    /* Embedded YouTube video iframe */
    #youtube-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%; /* Adjust the width as needed */
        height: 40%; /* Adjust the height as needed */
    }
    // reponsive needed
    .title1{
        position: absolute;
        top: 100%;
        text-align: center;
        h2{
            margin-top: 10rem;
            color: #fff;
            // font-size: 60px;
        }
    }
    @include for-size(phone){
        .title1{
            text-align: center;
            h2{
                color: #fff;
                font-size: 26px;
            }
        }
    }
    width: 100%;
    height: 60vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../photo/section-bg-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .play-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fcb222;
        color: #fff;
        font-size: 50px;
        width: 100px;
        height: 100px;
        z-index: 2;
        position: relative;
}
    .play-btn:before{
        content: '';
        position: absolute;
        border:1px solid #fcb222;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        animation: bloom1 1.5s linear infinite;
        opacity: 0;
        z-index: 1;
}
    .play-btn:after{
        content: '';
        position: absolute;
        border:2px solid #fcb222;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        animation: bloom2 1.5s linear infinite;
        opacity: 0;
        animation-delay: .4s;
        z-index: 1;
}
    @keyframes bloom1{
        0%{
        transform: scale(.5);
        }
        50%{
        opacity: 1;
        }
        100%{
        transform: scale(1.5);
        }
    }

        @keyframes bloom2{
        0%{
        transform: scale(.5);
        }       
        50%{
        opacity: 1;
        }
        100%{
        transform: scale(1.5);
        }
    }

