@use "../abstract" as *;

/* ---------------------------TESTIMONIAL---------------------------*/
.testimonial {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 7rem;
  background-image: url(/images/section-bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 55rem;
  background-position: center;
  @include for-size(tablet) {
    padding: 10rem 3rem 18rem;
  }
  @include for-size(phone) {
    padding: 10rem 3rem 17rem;
  }
  &__wrapper {
    @include grid(2);
    @include for-size(tablet) {
      @include grid(1);
    }
    @include for-size(phone) {
      @include grid(1);
    }
  }
  &__paragraph {
    margin-top: 7rem;
    @include for-size(tablet) {
      margin-top: 2rem;
      margin-bottom: 9rem;
    }
    @include for-size(phone) {
      margin-top: 2rem;
    }
  }
  p {
    color: $clr-gray;
    font-size: 2rem;
  }
  h4 {
    color: $clr-gray;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 0;
  }
  span {
    background: $clr-accent;
    width: 3rem;
    height: 2px;
    display: block;
    margin-bottom: 1rem;
  }
}
/* ---------------------------CARDS---------------------------*/
.cards {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  @include for-size(tablet) {
    width: 90%;
  }
  @include for-size(phone) {
    width: 85%;
  }
  &__slider {
    width: 95%;
  }
  &__slide {
    padding: 0rem 0rem 5rem;
    position: relative;
    display: block;
    background: transparent;

    p {
      text-wrap: balance;
      padding-top: 6rem;
      color: $clr-headertext;
      text-align: center;
      font-size: 1.9rem;
      line-height: 3.5rem;
      width: 85%;
      margin: 0 auto;
    }
    h3 {
      color: $clr-accent;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 0;
    }
    h4 {
      color: $clr-headertext;
      text-align: center;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  &__blank {
    position: relative;
    background-color: $clr-light;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 5rem;
    top: 6rem;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  &__blank.active {
    background-color: hsla(0, 0%, 95%, 1);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    border-right: 0.1px solid $clr-gray;
    border-left: 0.1px solid $clr-gray;
    @include for-size(phone) {
      border-left: none;
      border-right: none;
    }
    .cards__img {
      outline-style: solid;
      outline-color: $clr-accent;
      outline-width: 4px;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 100ms;
    }
    &::before {
      width: 100%;
      left: 0%;
    }
  }
  &__blank::before {
    content: "";
    pointer-events: none;
    left: 50%;
    position: absolute;
    width: 0%;
    top: 0;
    height: 3px;
    background-color: $clr-accent;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  &__img {
    width: 92px;
    height: 92px;
    position: absolute;
    top: -5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    color: $clr-accent;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 100ms;
    img {
      width: 100%;
      height: auto;
    }
  }
}
/* ---------------------------STATS---------------------------*/
.stats {
  position: relative;
  padding: 25rem 0 17rem 0;
  background-image: url(/images/section-bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem;
  background-position: center;
  @include for-size(phone) {
    padding: 30rem 0 10rem 0;
  }
  &__wrapper {
    @include flex(space-between, center);
    @include for-size(tablet) {
      @include grid(2);
    }
    @include for-size(phone) {
      @include grid(1);
    }
  }
  &__box:last-child {
    border-right: none;
    padding-right: 0;
  }
  &__box:nth-child(2) {
    @include for-size(tablet) {
        border-right: none;
    }
  }
  &__box {
    border-right: 0.5px solid $clr-light;
    margin-top: 7rem;
    @include for-size(phone) {
      border-right: none;
    }

    h3 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    h4 {
      text-align: center;
      font-size: 2rem;
      font-weight: 100;
      margin-bottom: 0;
    }
  }
  &__box:first-child {
    padding-left: 0;
  }
  &__content-1 {
    padding-right: 9rem;
    padding-left: 0;
    @include for-size(tablet) {
      padding-left: unset;
      padding-right: unset;
    }
    @include for-size(phone) {
      padding-left: unset;
      padding-right: unset;
    }
  }
  &__content-2 {
    padding-right: 9rem;
    @include for-size(tablet) {
      padding-right: unset;
    }
    @include for-size(phone) {
      padding-right: unset;
    }
  }
  &__content-3 {
    padding-right: 9rem;
    @include for-size(tablet) {
      padding-right: unset;
    }
    @include for-size(phone) {
      padding-right: unset;
    }
  }
  &__content-4 {
    padding-right: 0;
  }
  &__icon {
    text-align: center;
    i {
      color: $clr-light;
      font-size: 5rem;
      background-color: $clr-dark;
      padding: 2rem 2.5rem;
    }
  }
}
