@use '../abstract/' as*;
.btn2 {
    padding: 25px 50px;
    border: unset;
    color: $clr-light;
    z-index: 1;
    background: $clr-dark;
    position: relative;
    font-size: 17px;
    font-weight: 900;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $clr-light;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .btn2:hover {
    color: $clr-dark;
   }
   
   .btn2:hover::before {
    width: 100%;
   }