@use '../abstract/' as*;
// call any button
.mainbtn {
    padding: 19px 25px;
    border: unset;
    color: #f3f3f3;
    z-index: 1;
    background: #fcb222;
    position: relative;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.mainbtn::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 background-color: $clr-light;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.mainbtn:hover {
 color: $clr-dark;
}

.mainbtn:hover::before {
 width: 100%;
}