@use '../abstract/' as *;

.cta{
    padding: 5rem;
    background-image: url("../../photo/section-bg-4.jpg");
    background-size: cover;
    background-position: center;
    &__wrapper{
        @include unevenGrid(1fr 3fr 1fr);
        place-items: center;
        h2{
            color: $clr-light;
            text-align: left;
        }
        .cta__logo{
            font-size: 64px;
            width: 128px;
            height: 128px;
            line-height: 128px;
            background-color: $clr-dark;
            i{
                color: $clr-light;
                padding-left: 25%;
            }
        }
        @include for-size(tablet){
            @include unevenGrid(1fr 1fr);
        }
        @include for-size(phone){ 
            @include unevenGrid(1fr);
            place-items: center;
            justify-items: center;
            gap: 3rem;
            padding: 3rem;
            .cta__logo{
                font-size: 64px;
                 width: 128px;
                 height: 128px;
                 line-height: 128px;
                 background-color: $clr-dark;
            }
            h2{
                color: $clr-light;
                text-align: center;
            }
            button{
                padding: 15px 50px;
            }
        }
    }
    @include for-size(phone){
        @include grid(1);
    }

}