@use '../abstract' as *;


@font-face {
    font-family: "Barlow-Reg";
    src: url('../../font/Barlow-Regular.woff');
}
@font-face {
    font-family: "Barlow-Bold";
    src: url('../../font/Barlow-Bold.woff');
}
@font-face {
    font-family: "Barlow-SemiBold";
    src: url('../../font/Barlow-SemiBold.woff');
}


html {
    font-size: 10px;
}

body {
    font-family: "Barlow-Reg", arial, sans-serif;
    color: rgba($clr-headersec,0.7);
    background-color: $clr-headersec;
    line-height: 1.6;
    font-size: 1.6rem;
    color: $clr-headersec;
   
}

body.open {
     overflow: hidden;
     height: 100vh;
}

a {
    text-decoration: none;
    color: $clr-primary;
}

ul {
    list-style: none;
    color: $clr-primary;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: "Barlow-Bold";
    text-wrap: balance;
    color: $clr-primary;
}

h1 {
    font-size: clamp(3.5rem, 6vw , 5.5rem);
    margin-bottom: 2rem;
}

h2 {
    font-size: clamp(2.2rem, 6vw , 3rem);
    margin-bottom: 2rem;
}

h3 {
    font-size: clamp(2rem, 6vw , 2.5rem);
    margin-bottom: 1.6rem;
}

h4 {
    font-size: clamp(1.4rem, 6vw , 1.6rem);
    margin-bottom: 1.6rem;
}

p {
    font-size: clamp(1.4rem, 6vw , 1.6rem);
    font-family: "Barlow-Reg";
    margin-bottom: 1.3rem;
    color: $clr-headersec;
}

.container {
    max-width: 120rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

button{
    color: $clr-headersec;
}